.bold {
  position: relative;
  font-family: "Montserrat", sans-serif;

  color: rgba($color: #00c9b7, $alpha: 0.3);

  font-size: 10rem;
  text-transform: uppercase;

  font-weight: 800;
  @media screen and (max-width: 850px) {
    font-size: 8rem;
  }

  @media screen and (max-width: 650px) {
    font-size: 6rem;
    height: 100%;
  }

  @media screen and (max-width: 450px) {
    font-size: 4.5rem;
    height: 100%;
  }
}

.heading {
  max-width: 120rem;
  margin: 2rem auto 3rem auto;
  text-align: center;

  display: block;
}

.cursive {
  position: absolute;
  font-family: "Satisfy", cursive;
  text-transform: capitalize;
  font-weight: 100;
  font-style: italic;
  top: 2.5rem;
  left: 40%;
  color: var(--quaternary);
  font-size: 5rem;
  //   letter-spacing: 2rem;
  font-stretch: ultra-expanded;
  word-spacing: 1rem;
  @media screen and (max-width: 850px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 650px) {
    font-size: 2rem;
  }
}
