.parallaxprojects {
  display: none;
  @media screen and (min-width: 700px) {
    display: block;
    article {
      display: flex;
      flex-wrap: wrap;
    }
    figure {
      background: var(--secondary);
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 auto 10vh 0;
      position: sticky;
      top: 0;
      overflow: hidden;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }

    figure:nth-of-type(2n)::after {
      right: 45%;
      left: 5vmin;
    }
    section {
      background: linear-gradient(var(--tertiary), var(--primary));
      width: calc(50% + 1px);
      height: 100vh;
      margin: 0 0 10vh auto;
      position: sticky;
      top: 0;
      padding: 5vmin;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:nth-of-type(1),
    section:nth-of-type(1) {
      margin: 0 0 10vh 0;
      width: 50%;
    }
    figure:nth-of-type(2n) {
      margin: 0 0 10vh auto;
      box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    section:nth-of-type(2n) {
      margin: 0 auto 10vh 0;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.4);
    }
    figure:last-of-type,
    section:last-of-type {
      margin-bottom: 0;
    }
    section::before {
      background: inherit;
      z-index: 1;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 7vmin;
      height: 7vmin;
      transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
      clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
      box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.4);
      border-radius: 1.5vmin 0 0 0;
    }
    section:nth-of-type(2n)::before {
      left: auto;
      right: 0;
      transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
    }

    section:nth-of-type(2n):after {
      right: 5vmin;
      left: 45%;
    }
    figure img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
    section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      // padding: 1rem;
    }
    h1,
    h2 {
      margin: 8% auto;
      font-size: calc(4vmin + 2vmax);
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1;
      word-spacing: 0.3rem;
    }
    p {
      text-align: center;
      width: 100%;
      font-weight: 400;
      font-style: italic;
      font-size: calc(0.8vmin + 1vmax);
      margin-bottom: 5%;
    }

    a {
      padding: 1rem 1.5rem;
      border: 2px solid var(--quaternary);
      margin-bottom: 4%;
      cursor: pointer;

      &:hover {
        background-color: var(--quaternary);
        color: var(--tertiary);
      }
    }
  }
}
